* {
    padding: 0em;
    margin: 0em;
    box-sizing: border-box;
}

header,
.main {
    margin: auto;
    width: 100%;
    max-width: 600px;
}
header{
    height: 230px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: brown;
    background-image: url(/images/bg3.jpg);
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
}

h1 {
    text-align: center;
    font-size: 1.5em;
    color: azure;
    position: absolute;
    bottom: 15px;
    left: 10px;
}

#inputTask {
    width: 75%;
    height: 35px;
    margin-left: 5px;
}

#addButton {
    width: 21%;
    height: 40px;
    border: 0px;
    color: white;
    background-color: #1d90bd;
}

.div-lista {
    margin-top: 20px;
    width: 95%;
    margin-left: 5px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
    max-height: 50px;
    margin: 10px 0 10px 0px;
    padding-bottom: 15px;
    border-bottom: groove rgb(223, 221, 221) 2px;
}

.botones{
    max-height: 50px;
    
}

button.done {
    margin-right: 5px;
    width: 70px;
    height: 40px;
    border: 0px;
    background-color: white;
    background-image: url(/images/done.png);
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover;
    vertical-align: bottom;
}

.pDone {
    text-decoration: line-through;
}

.remove {
    width: 70px;
    height: 40px;
    border: 0px;
    background-color: white;
    background-image: url(/images/trash.png);
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover;
    vertical-align: baseline;
}